// Zoom Background animation
$bgAnimation
    background-size 100%
    animation zoomBG 30s
    animation-timing-function ease-in-out
    animation-fill-mode forwards

@keyframes zoomBG
    from
        background-size: 100%;
    to
        background-size: 150%;