@import 'animation'

// Backdrops
.vortex
    @extends $bgAnimation
    background-image url('/images/vortex.jpg')
    background-position top left



//Slide
.bespoke-slide
    background-color rgba(255,255,225,0.8)