
//Notes
/* Notes hidden */
aside
    display none
    text-align left

/* Notes exposed */
body.notes .bespoke-active aside
    display block
    width 100%
    position absolute
    top 10%
    bottom 10%
    right -100%

body.notes aside p
    font-size 0.7em




body.notes .bespoke-slide
    width 50%
    margin-left -50%

//body.notes .bespoke-slide > div.content, body.notes .bespoke-slide > aside

//body.notes .bespoke-slide > aside