doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Cole Diffin - Coordinate & Engage

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 Cole Diffin - Coordinate & Engage

      section(data-bespoke-backdrop='waldo')
        h1 This Presentation is all about me!
        .substep Just Kidding :-)
        aside
         p I had a very eventful start to my time at orion. But this is not a time for me to talk about myself!


      section
        h2 Parliament
        img( src='images/behive.jpg', data-action='deactivate', data-order='1')
        //img(class='substep animation-disolve', src='images/behive.jpg', data-order='1')

        aside
          p By now I can safely assume everyone has noticed that Parliament/Common Web/UIE or what ever else you may have known them by, doesn’t exist as a team any more. The very talented patrons of Parliament are now assisting other product teams in our LOB, to help make them more awesome (Not that other teams weren't already awesome)
          p However before the dissolution of parliament the former MP’s were a very entertaining bunch to work with. I got to jump on board and work alongside some amazing characters, to name a few:

      section
        img(src='images/silent-but-deadly.png')
        aside
          p The silent but deadly developer is someone that you need to check has actually turned up to the office, someone that you never seem to see, but someone that consistantly exceeds expectations.

      section
        img(src='images/code-ninja.jpg')
        aside
          p The Ninja.
          p You leave work for the day, worried that things are not progressing fast enough. Come back the next day and see that someone has committed half a dozen times during the night, and resolved all the issues that you had. Others in the team may look at the commits and attempt to make sense of what is happenning, but no one understands why a ninja does what they do.

      section
        img(src='images/underdog.jpg')
        aside
          p The Underdog.
          p The underdog is constantly overlooked, and constantly suprises the team. Producing high quality output that stands the tests of time.

      section(data-bespoke-backdrop='vortex')
        h2 Portal Tactical Teams
        ul
          li.substep Why were the teams labeled ‘portal’ tactical?
        aside
          p Looking back at the past few months since I joined the portal tactical team, It occurs to me, (BULLET) why were the teams labeled ‘portal’ tactical - everyone knew from the start that we would be spending at least some time on Results.

      section
        h2.substep How hard is it to choose a Team Name?

        ul
          li.substep Common Carp
          li.substep Street Fighters
        h3.substep Contenters
        ul
          li.substep Orange awesome Common Carp
          li.substep  Black Barracuda
          li.substep Yellow Pages Monitor Raisers

        aside
          p The next thing worth a mention is: (BULLET)
          p I never thought that it would be so difficult to get a bunch of people to choose a name for themselves. After much chasing many follups and far far to long, "Portal Tactical 1" and "Portal tactical 2" now have new team names. (BULLET)(BULLET) Common carp and Street fighters. Just before a decision was reached, I told them that if they didnt choose from them selve, I would pick the worst animals I could think of and name them my self! The amusing part is that I gave them a list of examples and 'Carp' was one of them...
          p So, Among many great contendeers there are a few honerable mentions as well.(Read Bullets)

      section
        h2 Programmer Stereo Types
        aside
          p While working with the portal teams, I have been fortunate to work with some really awsome gauy and gals. Which I again started seeing developer sterotypes emerging. Some of the more interesting sterotypes are:

      section(data-bespoke-backdrop='evangelist')
        h2 The Evangelist
        ul
          li.substep Insists that everything can be improved by throwing it all away and starting over.
          li.substep Is outspoken.
          li.substep Knows an awful lot about software development.
          li.substep Performs very little actual programming.
          li.substep Secretly, wants to be a project manager.
          li.substep Trys to revolutionize the workplace.
        aside
          p No matter what kind of environment you have, (BULLET) The Evangelist insists that it can be improved by throwing away all of your tools and processes and replacing them with something else. (BULLET) The Evangelist is outspoken, (BULLET) knows an awful lot about software development, (BULLET) but performs very little actual programming.
          p (BULLET) The Evangelist is secretly a project manager or department manager at heart but lacks the knowledge or experience to make the jump. So until The Evangelist is able to get into a purely managerial role, everyone else needs to put up with his or her attempts to (BULLET) revolutionize the workplace.

      section(data-bespoke-backdrop='')
        h2 The Paratrooper
        ul
          li.substep Is the last resort programmer you send in to save a dying project.
          li.substep They lack the patience to work on a long-term assignment
          li.substep Best asset is an uncanny ability to learn an unfamiliar codebase and work within it.
        aside
          p (BULLET) You know those movies where a sole commando is air-dropped deep behind enemy lines and comes out with the secret battle plans?  That person in a software development shop is The Paratrooper. (BULLET) The Paratrooper is the last resort programmer you send in to save a dying project. (BULLET) Paratroopers lack the patience to work on a long-term assignment, (BULLET) but their best asset is an unique ability to learn an unfamiliar codebase and work within it. Other programmers might take weeks or months to learn enough about a project to effectively work on it; The Paratrooper takes hours or days.

      section(data-bespoke-backdrop='')
        h2 Communication Breakdown
        ul
          li.substep Skimming through a skype chat, and seeing someone repeadedly spell something wrong. "Oarsome" was one that I noticed recently
          li.substep Finding out that the Windows HipChat Client ignores carefully crafted typo fixing regexes, and just displays them on screen
          li.substep Diligently fixing typos in HipChat using regex, only to realise that you’re actually making it more obvious that you screwed up to start with.
          li.substep The Ram-that’s-not-a-ram-that-is-a-ram
          li.substep Autocorrect - You saw it on iOS first, now available for mac.
          li.substep Anyone thats had a skype message from me has probably seen words missing the last letter or words where the space separating them is out by a few characters
          li.substep Awkward autocorrects

        aside
          p Some honerable mentions in communication breakdown :


    script(src='build/build.js')